/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker/mysql
/docker/mysqlConfig/log
docker-composer.yml
.env
/composer.lock
/.phpunit.result.cache
/_ide_helper.php
/.phpstorm.meta.php
/.blackfire.ini
/.npm/
/.node-gyp/
/.config/
/.cache/esbuild/bin/esbuild-linux-64@0.7.21
/.bash_history

